.tag {
  padding: 2px var(--spacing-xs);
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-paragraph);
  font-size: var(--fontSize-paragraph-sm);
  background-color: var(--color-blue-100);
  border-radius: 8px;
  display: inline-block;
}