
.pagination {
  display: flex;
  justify-content: center;
  margin: var(--spacing-xl);
  gap: var(--spacing-2xs);
}

.pagination-number {
  color: var(--fontColor-primary);
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-paragraph);
  font-size: var(--fontSize-paragraph-sm);
  cursor: pointer;
  padding: var(--spacing-sm);
}

.pagination-number-active {
  font-weight: var(--fontWeight-bold);
  cursor: default;
}