.darkModeToggle {
  height: 34px;
  width: 56px;
  border-radius: 32px;
  background: var(--background-inverse);
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-sm);
  cursor: pointer;
  z-index: 1000;
}

@media (min-width: 961px) {
  .darkModeToggle {
    position: fixed;
    top: auto;
    right: var(--spacing-lg);
    bottom: var(--spacing-lg);
  }
}

.darkModeToggle-inner {
  position: absolute;
  top: 50%;
  transform: translate(2px, -50%);
  background: var(--background-primary);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.darkModeToggle-inner-light-theme {
  transform: translate(24px, -50%);
}

.darkModeToggle-icon {
  color: var(--fontColor-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}