.list {
  --list-content-maxWidth-sm: 716px;
  --list-content-maxWidth-md: 898px;
  --list-content-maxWidth: 1080px;
  --list-content-gap: var(--spacing-sm);

  padding: var(--spacing-lg) var(--mobile-margin);
}

@media (min-width: 961px) {
  .list {
    padding: var(--spacing-lg) var(--desktop-margin);
  }
}

.list-content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--list-content-gap);
}

@media (min-width: 961px) {
  .list-content {
    max-width: var(--list-content-maxWidth-sm);
    margin: 0 auto;
  }
}

@media (min-width: 1058px) {
  .list-content {
    max-width: var(--list-content-maxWidth-md);
  }
}

@media (min-width: 1240px) {
  .list-content {
    max-width: var(--list-content-maxWidth);
  }
}

.list-sorting {
  margin: 0 auto;
  margin-bottom: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md)
}

@media (min-width: 961px) {
  .list-sorting {
    max-width: var(--list-content-maxWidth-sm);
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1058px) {
  .list-sorting {
    max-width: var(--list-content-maxWidth-md);
  }
}

@media (min-width: 1240px) {
  .list-sorting {
    max-width: var(--list-content-maxWidth);
  }
}

.list-filters {
  border-bottom: 1px solid var(--borderColor-secondary);
  padding-bottom: var(--spacing-md);
  display: flex;
  gap: var(--spacing-md)
;}

@media (min-width: 961px) {
  .list-filters {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.list-selectionItem {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

@media (min-width: 961px) {
  .list-selectionItem {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
  }
}

.list-sort {
  display: flex;
}

.list-sortLabel {
  color: var(--fontColor-primary);
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-paragraph);
  font-size: var(--fontSize-paragraph-sm);
}

.list-loader {
  padding: var(--spacing-6xl) 0;
  display: flex;
  justify-content: center;
}

.list-error {
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-paragraph-sm);
  padding: var(--spacing-6xl) 0 var(--spacing-4xl);
  text-align: center;
}