.list {
  --listItem-gap: var(--spacing-sm);
  --list-content-maxWidth: 1080px;

  padding: var(--spacing-lg) var(--mobile-margin);
}

@media (min-width: 961px) {
  .list {
    padding: var(--spacing-lg) var(--desktop-margin);
  }
}

.list-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--listItem-gap);
}

@media (min-width: 961px) {
  .list-content {
    max-width: var(--list-content-maxWidth);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.list-sorting {
  max-width: var(--list-content-maxWidth);
  margin: 0 auto;
  margin-bottom: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md)
}

@media (min-width: 961px) {
  .list-sorting {
    flex-direction: row;
    justify-content: space-between;
  }
}

.list-filters {
  border-bottom: 1px solid var(--borderColor-secondary);
  padding-bottom: var(--spacing-md);
  display: flex;
  gap: var(--spacing-md)
;}

@media (min-width: 961px) {
  .list-filters {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.list-selectionItem {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

@media (min-width: 961px) {
  .list-selectionItem {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
  }
}

.list-sort {
  display: flex;
}

.list-sortLabel {
  color: var(--fontColor-primary);
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-paragraph);
  font-size: var(--fontSize-paragraph-sm);
}

.list-loader {
  padding: var(--spacing-6xl) 0;
  display: flex;
  justify-content: center;
}

.list-error {
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-bold);
  font-size: var(--fontSize-paragraph-sm);
  padding: var(--spacing-6xl) 0 var(--spacing-4xl);
  text-align: center;
}