.filter-sorting {
  margin: 0 auto;
  margin-bottom: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md)
}

@media (min-width: 961px) {
  .filter-sorting {
    max-width: var(--list-content-maxWidth-sm);
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1058px) {
  .filter-sorting {
    max-width: var(--list-content-maxWidth-md);
  }
}

@media (min-width: 1240px) {
  .filter-sorting {
    max-width: var(--list-content-maxWidth);
  }
}

.filter-filters {
  border-bottom: 1px solid var(--borderColor-secondary);
  padding-bottom: var(--spacing-md);
  display: flex;
  gap: var(--spacing-md)
;}

@media (min-width: 961px) {
  .filter-filters {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.filter-sort {
  display: flex;
}

.filter-sortLabel {
  color: var(--fontColor-primary);
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-paragraph);
  font-size: var(--fontSize-paragraph-sm);
}

.filter-selectionItem {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

@media (min-width: 961px) {
  .filter-selectionItem {
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-sm);
  }
}