.toggle {
  --toggle-icon-size: 24px;
  --toggle-circle-size: 28px;
  --toggle-border-size: 4px;
  --toggle-outline-size: 8px;
  --toggle-height: calc(var(--toggle-circle-size) + var(--toggle-border-size) * 2);
  --toggle-width: calc(var(--toggle-circle-size) * 2);
  height: var(--toggle-height);
  width: var(--toggle-width);
  border-radius: var(--toggle-height);
  background-color: var(--background-inverseSecondary);
  cursor: pointer;
}

@media (min-width: 961px) {
  .toggle {
    position: fixed;
    top: auto;
    right: var(--spacing-lg);
    bottom: var(--spacing-lg);
  }
}

.toggle-inner {
  position: absolute;
  top: 50%;
  transform: translate(var(--toggle-border-size), -50%);
  background: var(--background-primary);
  height: var(--toggle-circle-size);
  width: var(--toggle-circle-size);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.toggle-inner-selected {
  transform: translate(var(--toggle-icon-size), -50%);
}

.toggle-inner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: calc(var(--toggle-circle-size) + var(--toggle-outline-size));
  width: calc(var(--toggle-circle-size) + var(--toggle-outline-size));
  border-radius: 50%;
  background-color: var(--fontColor-inverseSecondary);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.toggle:hover .toggle-inner::before {
  opacity: 0.5;
}

.toggle-icon {
  color: var(--fontColor-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--toggle-icon-size);
}