.app {
  background-color: var(--background-secondary);
  min-height: 100vh;
}

.topContent {
  text-align: center;
  background-color: var(--background-primary);
  padding: var(--spacing-4xl) var(--mobile-margin) var(--spacing-3xl);
}

.topContent-text {
  margin: 0 auto;
  max-width: 520px;
}

.topContent-header {
  color: var(--fontColor-primary);
  font-family: var(--fontFamily-header);
  font-weight: var(--fontWeight-header);
  font-size: var(--fontSize-header);
  margin-bottom: var(--spacing-md);
}

.topContent-text {
  color: var(--fontColor-subdued);
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-paragraph);
  font-size: var(--fontSize-paragraph);
}
