.app {
  background-color: var(--background-secondary);
  min-height: 100vh;
}

.darkModeToggle {
  position: absolute;
  top: var(--spacing-md);
  right: var(--spacing-sm);
  z-index: 1000;
}

@media (min-width: 961px) {
  .darkModeToggle {
    position: fixed;
    top: auto;
    right: var(--spacing-lg);
    bottom: var(--spacing-lg);
  }
}


.topContent {
  text-align: center;
  background-color: var(--background-primary);
  padding: var(--spacing-5xl) var(--mobile-margin) var(--spacing-3xl);
}

.topContent-text {
  margin: 0 auto;
  max-width: 520px;
}

.topContent-header {
  color: var(--fontColor-primary);
  font-family: var(--fontFamily-header);
  font-weight: var(--fontWeight-header);
  font-size: var(--fontSize-header);
  margin-bottom: var(--spacing-md);
}

.topContent-text {
  color: var(--fontColor-subdued);
  font-family: var(--fontFamily-paragraph);
  font-weight: var(--fontWeight-paragraph);
  font-size: var(--fontSize-paragraph);
  line-height: var(--lineHeight-paragraph);
}
